*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  width: 100vw;
}
.image-card {
  position: relative;
  place-self: center;
  width: 100vw;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 600px;
}

.base-image {
  position: absolute;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  object-fit: cover;
  z-index: 2;
  top: 10px;
  left: 10px;
}

.img-1 {
  position: absolute;
  transform: scaleX(-1);
  height: 240px;
  width: 240px;
  bottom: -140px;
  left: -80px;
  z-index: 1;
}

.img-2 {
  position: absolute;
  transform: rotate(125deg);
  height: 180px;
  width: 180px;
  bottom: -140px;
  left: 220px;
  z-index: 1;
}
.img-3 {
  position: absolute;
  height: 180px;
  width: 180px;
  top: 250px;
  left: -50px;
  transform: rotate(-15deg);
  z-index: 1;
}
.img-4 {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 250px;
  left: 220px;
  z-index: 1;
}

.image-1 {
  position: relative;
}

.image-2 {
  position: relative;
}

.image-3 {
  position: relative;
}
.title {
  font-family: "Barlow Condensed";
  font-size: 54px;
  text-transform: uppercase;
  align-items: center;
}

.description {
  font-family: "Rajdhani";
  font-size: 24px;
  align-items: center;
  text-align: center;
}

.link {
  font-family: "Rajdhani";
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.drink-description {
  position: absolute;
  display: flex;
  width: 250px;
  bottom: -515px;
  text-align: center;
  left: 70px;
  margin: auto;
  font-family: "Barlow Condensed";
  font-size: 36px;
  text-transform: uppercase;
}

.header {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  margin: auto;
}

@media (max-width: 900px) {
  .image-card {
    grid-template-columns: repeat(1, 50vw);
    gap: 500px;
    left: -8%;
  }
  .base-image {
    width: 304px;
    height: 304px;
  }

  .description {
    font-family: "Rajdhani";
    font-size: 20px;
    align-items: center;
    text-align: center;
  }
  .header {
    display: grid;
    grid-template-columns: repeat(1, 50vw);
    align-self: stretch;
    place-items: center;
    text-align: center;
  }

  .title {
    padding: 10px;
    font-family: "Barlow Condensed";
    font-size: 36px;
    text-transform: uppercase;
  }

  .link {
    font-size: 18px;
  }

  .drink-description {
    font-size: 24px;
    bottom: -410px;
    left: 40px;
  }

  .img-1 {
    position: absolute;
    transform: scaleX(-1);
    height: 240px;
    width: 240px;
    bottom: -140px;
    left: -80px;
    z-index: 1;
  }

  .img-2 {
    position: absolute;
    transform: rotate(125deg);
    height: 180px;
    width: 180px;
    bottom: -140px;
    left: 180px;
    z-index: 1;
  }
  .img-3 {
    position: absolute;
    height: 180px;
    width: 180px;
    top: 220px;
    left: -20px;
    transform: rotate(-15deg);
    z-index: 1;
  }
  .img-4 {
    position: absolute;
    height: 160px;
    width: 160px;
    top: 200px;
    left: 180px;
    z-index: 1;
  }
}
